/*#region Global Styling*/

//-----COLORS
$black: #000000;
$black-5: #0d0d0d;
$black-25: #404040;
$white: #ffffff;
$white-5: #f2f2f2;
$white-25: #bfbfbf;

//-----FONTS
$header-font: Apple Chancery, URW Chancery L, Snell Roundhand, Cursive;
$primary-font: Verdana, Arial, Times, Courier, Georgia;

@mixin primary-font {
	color: $black-5;
	font-family: $primary-font;
	font-size: .75em;
}

@mixin header-font {
	color: $black-5;
	font-family: $primary-font;
	font-size: 1.5em;
}

//-----HTML
* {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	// top: 0;
	// right: 0;
	// left: 0;
	// margin: 0;
	// padding: 0;
	background-color: $white-5;
	font-family: $primary-font;
}

//-----COMMON STYLING
$border-primary: 1px solid $black;

/*#endregion Global Styling*/

/*#region Global Scaffolding*/

$self-center: 0px auto 0px auto;

.primary-container {
	width: 100%;
}

.secondary-container {
  width: 100%;
	max-width: 1000px;
	margin: $self-center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

@mixin horizontal-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@mixin vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

//-----MEDIA QUERY MIXINS
@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin web {
	@media (min-width: 769px) {
    @content;
  }
}

/*#endregion Global Scaffolding*/

/*#region Home Page*/

#main-title, #calculate-change, .due-output { 
  @include horizontal-center;
}

.amount-input {
  margin: $self-center;
}

#calculate-change {
  margin: 10px auto 10px auto;
}

#changeDue {
  margin-bottom: 10px;
}

/*#endregion Home Page*/
