/*#region Global Styling*/
* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #f2f2f2;
  font-family: Verdana, Arial, Times, Courier, Georgia; }

/*#endregion Global Styling*/
/*#region Global Scaffolding*/
.primary-container {
  width: 100%; }

.secondary-container {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto 0px auto; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left; }

/*#endregion Global Scaffolding*/
/*#region Home Page*/
#main-title, #calculate-change, .due-output {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.amount-input {
  margin: 0px auto 0px auto; }

#calculate-change {
  margin: 10px auto 10px auto; }

#changeDue {
  margin-bottom: 10px; }

/*#endregion Home Page*/
